* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    -webkit-tap-highlight-color: transparent; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+ */
    user-select: none;         /* chuẩn */
    touch-action: manipulation; /* tối ưu cho touch */
}

body,
html {
    height: 100%;
    overflow: hidden;
}

#container {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

     /* Ẩn thanh scroll */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE, Edge */
}

#container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.video-page {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    background: black;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow-y: hidden;
}

video {
    width: 100%;
    transform: translateY(-3%);
    filter: blur(50px); 
    transition: filter 0.3s ease; /* hiệu ứng mượt */
    -webkit-tap-highlight-color: transparent; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+ */
    user-select: none;         /* chuẩn */
    touch-action: manipulation; /* tối ưu cho touch */
}

/* Desktop */
@media (min-width: 768px) {
    .video-page {
        display: flex;
        justify-content: center; /* canh ngang giữa */
        align-items: center;     /* canh dọc giữa */
    }

    video {
        width: auto;      
        height: 100vh;    
        max-width: 100%;  
        max-height: 100vh;
        transform: none;  /* bỏ dịch chuyển */
    }
}